@import "example.css";
.tester {
	font-weight: bold;
}
@media screen and (max-width: 768px) {
	#logo {
		width: 150px;
		top: 2px;
		font-size: 43px;
	}
}
nav {
	width: 100%;
	border-bottom: 2px solid #283744;
	li {
		a {
			color: #fff;
			text-shadow: 1px 1px 0px #283744;
			font-weight: bold;
			line-height: 40px;
		}
		width: 600px;
		height: 40px;
	}
	background: #455868;
	height: 40px;
}
@media screen {
	#logo {
		width: 150px;
		top: 2px;
		font-size: 43px;
	}
}
